.adminsidebar {
  width: 200px;
  height: 100vh;
  background-color: #1d2621;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 10px;
}

.adminsidebar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}
.always-open {
  background-color: #f5f5f5; /* Light background to make it look open */
  font-weight: bold;
}

.always-active {
  color: #ff5733 !important; /* Make Analytics visually distinct */
  font-weight: bold;
}

.adminsidebar nav ul {
  list-style: none;
  padding: 0;
}

.adminsidebar nav ul li {
  margin: 15px 0;
}

.adminsidebar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.adminsidebar nav ul li a:hover,
.adminsidebar nav ul li a.active {
  background-color: #007bff;
  color: #fff;
}
@media screen and (max-width: 550px) {
  .adminsidebar {
    top: 4%;
    width: 100%;
  }
}
