/* Container for orders */
.orders {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container for order sections */
.orders-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Styling for the list of orders */
.orders-list {
  list-style-type: none;
  padding: 0;
}

/* Individual order item */
.order-item {
  display: flex;
  background: linear-gradient(135deg, #ffffff, #f8fafc);
  border-radius: 8px;
  padding: 0.5rem 0;
  gap: 2rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
  position: relative; /* Added for positioning the image */
}

.order-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-item-grid {
  display: flex;
  width: 45%;
  column-gap: 30px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.order-detail-box {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.order-item-grid p {
  margin-bottom: 0.5rem;
}
.order-header-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.order-detail {
  background-color: rgb(169, 169, 169);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 8px;
}
.order-cart-list {
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  gap: 10px; /* Adds space between the boxes */
  width: 40%; /* Takes up the available space on the left */
}
.order-cart-box {
  border: 1px solid rgb(131, 131, 131);
  border-radius: 8px;
  padding: 0.5rem;
  background-color: rgb(222, 227, 223);
  display: flex;
}

.order-header {
  display: flex;
  gap: 10px;
  align-items: center;
}
.order-item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.order-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: rgb(222, 227, 223);
}
.order-info {
  background-color: rgb(169, 169, 169);
  width: 100%;
  border-radius: 20px;
}

.order-cart-box img {
  border-radius: 20px;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}
@media (min-width: 1210px) and (max-width: 1400px) {
  .order-header-items {
    margin-top: -4.5rem;
  }
  .order-cart-list {
    width: 50%;
  }
}
@media (min-width: 400px) and (max-width: 1210px) {
  .order-detail-box {
    flex-direction: column;
  }
  .order-detail {
    width: 100%;
  }
  .order-cart-list {
    width: 100%;
  }
  .order-header-items {
    margin-top: -3rem;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .order-item-grid {
    width: 70%;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  .order-cart-box img {
    margin: 1.5rem 0;
    width: 6rem;
    height: 6rem;
  }
  .order-cart-list {
    width: 100%;
  }

  .order-item-grid {
    width: 100%;
    align-content: flex-start;
    margin-top: 1rem;
  }
}
@media (min-width: 200px) and (max-width: 400px) {
  .order-cart-list {
    width: 100%;
  }
}
