/* body {
  overflow: hidden;
  font-family: "Roboto", serif;
  background: linear-gradient(135deg, black, #220033);
} */
@font-face {
  font-family: Genio;
  src: url(/public/Fonts/kiltierregular-yqkgo.otf);
}
@font-face {
  font-family: Sherdan;
  src: url(/public/Fonts/rombera.otf);
}
.carousel {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    #1a1a2e,
    /* Midnight Blue */ #16213e,
    /* Dark Navy */ #0f3460,
    /* Deep Ocean */ #53354a,
    /* Dark Burgundy */ #2c2c54 /* Twilight Purple */
  );
  object-fit: cover;
  pointer-events: none;
}

.carousel-item {
  --items: 10;
  --width: clamp(200px, 30vw, 320px);
  --height: clamp(200px, 40vw, 420px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: 4;
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgb(0 0 0);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Orelo-sw-db", serif;
}
.carousel-item .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14) 0%,
    rgba(255, 125, 125, 0) 30%,
    rgba(77, 77, 77, 0) 50%,
    rgba(36, 36, 36, 0.271) 100%
  );
}
.carousel-item .title {
  position: absolute;
  font-family: Genio;
  z-index: 1;
  color: #111;
  bottom: 4px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(30px, 4vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.carousel-item .num {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 80px);
}
.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}
.carousel-instructions {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 1rem;
}
.carousel-instructions p,
.carousel-instructions h2 {
  font-family: Sherdan;
  font-size: 3rem;
  z-index: 10;
}
.carousel-instructions p {
  width: 30%;
  text-align: right;
  color: #b4b4b4;
  font-size: 1.4rem !important;
}
.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}
.layout .box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 28px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orelo-sw-db", serif;
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 25px;
  color: #fff;
  opacity: 0.4;
}
.social a {
  display: inline-block;
  margin-left: 3px;
}
.social svg {
  --fill: #fff;
  width: 35px;
  height: 35px;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
}
.carousel {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.carousel img {
  pointer-events: none;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

@media (min-width: 1400px) {
  .carousel-item {
    --width: clamp(250px, 35vw, 400px);
    --height: clamp(250px, 45vw, 500px);
  }
}

/* 1400px to 1024px */
@media (max-width: 1400px) and (min-width: 1024px) {
  .carousel-item {
    --width: clamp(220px, 32vw, 380px);
    --height: clamp(220px, 42vw, 480px);
  }
  .carousel-instructions h2 {
    font-size: 2.1rem;
  }
}

/* 1024px to 960px */
@media (max-width: 1024px) and (min-width: 960px) {
  .carousel {
    height: 80vh;
  }
  .carousel-item {
    --width: clamp(280px, 27vw, 360px);
    --height: clamp(280px, 34vw, 400px);
  }
}

/* 960px to 760px */
@media (max-width: 960px) and (min-width: 760px) {
  .carousel-item {
    --width: clamp(300px, 30vw, 370px);
    --height: clamp(320px, 42vw, 440px);
  }
  .carousel-instructions h2 {
    font-size: 1.6rem;
  }
  .carousel-instructions p {
    font-size: 1rem !important;
    width: 40%;
  }
}

/* 760px to 540px */
@media (max-width: 760px) and (min-width: 540px) {
  .carousel {
    height: 70vh;
  }
  .carousel-item {
    --width: clamp(280px, 30vw, 340px);
    --height: clamp(280px, 34vw, 360px);
  }
  .carousel-instructions h2 {
    font-size: 1.4rem;
  }
  .carousel-instructions p {
    font-size: 0.7rem !important;
    width: 40%;
  }
}

/* 540px to 399px */
@media (max-width: 560px) and (min-width: 399px) {
  .carousel {
    height: 60vh;
  }
  .carousel-item {
    --width: clamp(200px, 28vw, 300px);
    --height: clamp(240px, 30vw, 350px);
  }
  .carousel-item .title {
    font-size: clamp(22px, 3vw, 30px);
  }
  .carousel-instructions {
    padding: 10px;
  }
  .carousel-instructions h2 {
    font-size: 1rem;
  }
  .carousel-instructions p {
    font-size: 0.5rem !important;
    width: 50%;
  }
}

/* Below 399px */
@media (max-width: 399px) {
  .carousel {
    height: 50vh;
  }
  .carousel-item {
    --width: clamp(160px, 12vw, 200px);
    --height: clamp(180px, 25vw, 300px);
  }
  .carousel-instructions {
    padding: 10px;
  }
  .carousel-instructions h2 {
    font-size: 0.8rem;
  }
  .carousel-instructions p {
    font-size: 0.4rem !important;
    width: 50%;
  }
}
