.navbar {
  background: #1d2621;
  color: #f2e4d7;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 80px;
}

.navbar-logo {
  cursor: pointer;
  display: flex;
  width: 2rem;
  object-fit: cover;
  align-items: center;
  margin: 0 1rem;
}
.navbar-logo img {
  width: 6rem;
  height: 6rem;
}
.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  text-align: center;
  width: 30vw;
  justify-content: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #000000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.fa-bars {
  color: #f2e4d7;
  margin-right: 1rem;
  margin-top: 0.6rem;
  transform: translateY(-6.5px);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.header-links > input {
  border-radius: 25px;
  border: 1px solid black;
  height: 2.7rem;
  width: 35rem;
  background-color: #dbdbde;
}
.header-links > input::placeholder {
  font-size: 20px;
}
.header-links > .nav-links {
  padding: 0 2.5rem;
}
form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
.user-icon {
  background-image: url(./pages/photos/user.svg);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute; /* Position dropdown absolute to its container */
  top: 5rem; /* Adjust as needed */
  right: 8rem; /* Align to the right edge of the container */
  width: 7rem;
  text-align: center;
  color: #ffffff;
  background-color: #38423a;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
.bag-icon {
  background-image: url(./pages/photos/shopping-cart-white.svg);
  height: 2rem;
  width: 2rem;
  position: relative;
  right: 1.2rem;
}
.fav-icon {
  background-image: url(./pages/photos/heart.svg);
  height: 2rem;
  width: 2rem;
  margin-left: -1rem;
  position: relative;
}

.fav-icon .badge {
  display: inline-block;
  background-color: darkred;
  color: #fff;
  line-height: 1;
  font-size: 0.8rem;
  margin: 10px 0 0 15px;
  padding: 0.35rem 0.55rem;
  border-radius: 50%;
}
.cart_icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart_icon .badge {
  background-color: darkred;
  color: #fff;
  position: absolute;
  right: 14px;
  top: 24px;
  line-height: 1;
  font-size: 0.8rem;
  margin: 10px 0 0 0;
  padding: 0.35rem 0.55rem;
  border-radius: 50%;
}

.nav-menu .favourites-text {
  display: none;
}

/* Navbar.css */

/* Styling for the search container */
.search-container {
  position: relative;
  width: auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-results {
  position: absolute;
  top: 100%; /* Position below the search input */
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure search results appear above other elements */
}

.search-result-item {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f1f1f1;
}

.search-result-item:last-child {
  border-bottom: none;
}

.no-results {
  padding: 10px;
  color: #999;
  font-size: 14px;
}
.product-details-container {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Space between the image and the details */
  padding: 20px 0;
}
.product-hover {
  cursor: pointer;
}
.product-info {
  flex: 2;
}

.product-info h2 {
  margin-bottom: 0.3rem;
  padding: 0 10px;
  font-size: 1.3rem;
  font-weight: 450;
  color: #111 !important;
}
/* 
.product-info p {
  margin: 0.2rem 0;
  line-height: 1.5;
  font-weight: 700;
  color: #000000;
} */

/* Container styling */
/* Dropdown Wrapper */
.dropdown-wrapper {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

/* Trigger Button */
.dropdown-trigger {
  cursor: pointer;
  text-align: center;
  position: relative;
}

.hover-text:hover ~ .underline,
.dropdown-trigger:hover .underline {
  width: 100%;
}

/* Underline Animation */
.underline {
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #f2e4d7;
  transition: width 0.3s ease-in-out;
}

/* Dropdown Content */
.dropdown-content {
  display: block;
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 200px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* Prevent accidental hiding */
}

.dropdown-wrapper:hover .dropdown-content,
.dropdown-wrapper .dropdown-content.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Enable interaction */
}
.submenu-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #1b216b;
}

.submenu-link {
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  color: #333;
  margin-bottom: 5px;
}
.dropdown-submenu h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.dropdown-submenu ul {
  list-style: none;
  padding: 0;
  color: #242424;
  margin: 0;
}

.dropdown-submenu ul li {
  margin: 5px 0;
}

.dropdown-submenu ul li a:hover {
  text-decoration: underline;
}
.submenu-link:hover {
  color: #1b216b;
}

/* Responsive Design */
@media (min-width: 768px) {
}

.favourites-text {
  display: none;
}
.search-icon {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
}
@media screen and (max-width: 2200px) and (min-width: 1600px) {
  .nav-menu {
    width: 50vw;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1440px) {
  .header-links > input {
    min-width: auto;
  }
  .nav-menu {
    width: 45vw;
  }
  .navbar-logo img {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (max-width: 1440px) and (min-width: 960px) {
  .header-links > input {
    width: auto;
  }
  .nav-menu {
    width: 50vw;
  }
  .search-join {
    width: 100%;
    margin: 0 1rem;
  }
  .bag-icon {
    position: absolute;
    top: 50%;
    right: 1.6rem; /* increased spacing */
    transform: translateY(-50%);
  }
  .fav-icon {
    position: absolute;
    top: 50%;
    right: 4.3rem; /* increased spacing */
    transform: translateY(-50%);
  }
  .user-icon {
    position: absolute;
    top: 50%;
    right: 7rem; /* increased spacing */
    transform: translateY(-50%);
  }
  .dropdown-menu {
    position: absolute; /* Position dropdown absolute to its container */
    top: 4rem; /* Adjust as needed */
    right: 7.4rem;
  }
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    padding: 0 1rem; /* Add padding to the left and right */
    height: 80px;
    width: 100%; /* Ensure full width */
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .search-join {
    width: 100%;
  }
  .search-container {
    width: auto;
    margin-right: 6rem;
    display: flex;
    align-items: center;
    position: relative;
  }
  .search-icon {
    position: absolute;
    left: 1rem;
    font-size: 1.2rem;
    pointer-events: none;
  }
  .search-input {
    padding: 10px 10px 10px 35px; /* Add padding to accommodate the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  .header-links > input {
    border-radius: 25px;
    width: 100%;
    border-bottom: 6px solid black;
    height: 2.7rem;
    background-color: #dbdbde;
  }
  .header-links > input::placeholder {
    font-size: 18px;
  }
  .nav-menu.active {
    padding: 1rem;
    background: #5e6b61;
    left: 0;
    width: 40%;
    color: #111;
    height: 100vh;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-menu.active p {
    font-size: 2rem;
  }
  .navbar-logo {
    margin: 0 2.5rem;
    background-image: url(./pages/photos/logo-black.svg);

    width: 5rem;
    object-fit: contain; /* Make sure the color is visible */
  }
  .fav-icon {
    display: none;
  }

  .nav-menu .favourites-text {
    display: block;
  }
  /* .search-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    order: 1;
    top: 0;
    left: 10%;
    transform: translateY(-50%);
  } */
  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .menu-icon {
    order: 0;
    display: block;
    position: absolute;
    top: 1.6rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .bag-icon {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
  }
  .fav-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }
  .user-icon {
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
  }
  .dropdown-menu {
    position: absolute;
    right: 3rem;
  }
  .fa-times {
    font-size: 2rem;
  }
}
@media screen and (max-width: 960px) and (min-width: 700px) {
}
@media screen and (max-width: 700px) and (min-width: 500px) {
}
@media screen and (max-width: 550px) {
  .navbar {
    height: 7rem;
  }
  .navbar-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    height: auto; /* Allow height to adjust */
    padding: 2rem 0;
  }

  .menu-icon {
    position: absolute;
    left: 1rem; /* Move menu icon to the left */
    top: 30%; /* Center vertically */
    transform: translateY(-50%);

    font-size: 1.8rem;
    z-index: 10;
  }

  .navbar-logo {
    margin: 0;
    position: absolute;
    top: -1.3rem;
    margin-left: -3rem;
    width: 4.5rem;
  }
  .search-join {
    width: 100%;
  }
  .user-icon,
  .bag-icon {
    position: absolute;
    top: 1.7rem;
  }

  .user-icon {
    right: 3.8rem; /* Adjust spacing for user icon */
  }

  .bag-icon {
    right: 1.5rem; /* Adjust spacing for cart icon */
  }

  .search-container {
    display: flex;
    width: 100%;
    margin-top: 2.8rem;
    padding: 0 1rem;
    flex-direction: column;
  }
  .search-icon {
    left: 2rem;
  }
  .search-input {
    width: 100%; /* Full width search bar */
    border-radius: 25px;
    border: 1px solid #555;
    padding: 9px 12px; /* Adjust padding for better UX */
  }

  .nav-menu {
    display: none; /* Hide menu by default */
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    width: 50%;
    padding: 1rem;
  }

  .nav-links {
    text-align: left; /* Align links to the left */
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 398px) and (min-width: 200px) {
  .navbar-logo {
    width: 4rem;
    margin-left: -3rem;
    position: absolute;
    top: -1.3rem;
  }
  .nav-menu.active {
    width: 100%;
  }
  .search-icon {
    left: 1.4rem;
    z-index: 1;
    top: -0.3em;
  }
  .fav-icon {
    display: none;
  }
  .user-icon {
    right: 3.8rem;
  }
  .header-links > input {
    position: absolute;
    width: 95%;
    top: -1rem;
  }
  .nav-menu .favourites-text {
    display: block;
  }
}
