.popup-signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-signin-form {
  background: white;
  border-radius: 8px;
  min-width: 400px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.popup-close-btn {
  position: relative;

  font-size: 1.5rem;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.popup-close-btn:hover {
  color: red;
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.input-field {
  margin-bottom: 15px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
}

.button-field {
  width: 100%;
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn.google-btn {
  background-color: #db4437;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background: white;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-content {
  margin-bottom: 20px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 680px) {
  .popup-signin-container {
    position: sticky;
    bottom: 0;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
  .popup-signin-form {
    min-width: 200px;
    width: 100%;
    background-color: #929292;
  }
}
