@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300;400;600&display=swap");

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

.orders-list {
  list-style-type: none;
  padding: 0;
}

.order-item img {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-shipping-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  background-color: var(--primary-light);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .profile-container {
    padding: 1rem;
    flex-direction: column;
  }

  .input-grid,
  .shipping-form-grid,
  .order-item-grid {
    grid-template-columns: 1fr;
  }
  .left,
  .orders-section {
    width: 100%;
  }
}
