/* src/components/LoadingAnimation.css */
.loading-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}
